html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing:inherit;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
h1, h2 {
  font-size: 144px;
  color: $fontcolor;
}
#nav-bar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  ul li {
    list-style-type: none;
    padding: 5px;
  }

  ul li a{
    list-style-type: none;
    text-decoration: none;
    color: $subfontcolor;
  }

}

section {
  height: 100vh;
}
.block {
  display: inline-block;
  height: 50vh;
  width: 100%;
  overflow:hidden;
}

.color-block1{
  background-color: $blockcolor1;
}
.color-block2{
  background-color: $blockcolor2;
}
.color-block3{
  background-color: $blockcolor3;
}
.title-header {
  position: relative;
  bottom: 213px;
  left: 63px;
  line-height: 178px;
  .firstword {
    position: relative;
    top: 67px;
    left: 31px;
    color: $subfontcolor;
  }
}