$fontcolor: #0C120C;
$subfontcolor: white;
$title-fontsize: 144px;
$boldfontweight: 500;
$normalfontweight: 300; 
$font-family: 'Montserrat', sans-serif;

p {
  color: $fontcolor;
}
h1,
h2 {
  font-size: 144px;
  color: $fontcolor;
}