* {
  color: #0C120C;
}

h2,
h3 {
  font-size: calc(60px + 5.28vw);
  color: #0C120C;
}

html {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: grid;
  grid-template-areas: "title title title" "title title title" "subt subt subt" " subt subt subt";
}
section #color2 {
  background-color: #F72C25;
}
section #color3 {
  background-color: #0EB1D2;
}
section .title-header {
  height: 50vh;
  background-color: #F9A620;
  grid-area: title;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}
section .title-header h2 {
  position: absolute;
  bottom: 5px;
  line-height: calc(50px + 2.3vw);
  left: 60px;
  color: white;
}
section .sub-header {
  height: 50vh;
  grid-area: subt;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}
section .sub-header h3 {
  position: absolute;
  top: 10px;
  line-height: calc(50px + 2.3vw);
  left: 30px;
}

#nav-bar {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  z-index: 4000;
  position: fixed;
  top: 0;
}
#nav-bar ul {
  list-style-type: none;
}
#nav-bar ul li {
  padding: 5px;
}
#nav-bar ul li a {
  text-decoration: none;
  color: white;
}
#nav-bar ul li a:hover {
  color: #0C120C;
}